// Color
$primary: var(--primary);
$secondary: var(--secondary);
$inverse-primary: var(--inverse-primary);
$bg-color-primary: var(--color-neutral-1);
$bg-color-secondary: var(--bg-color-secondary);
$text-color-primary: var(--text-color-primary);
$bd-color-primary: var(--color-neutral-2);

// Font

// FontSize
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-19: 19px;
$font-size-20: 20px;
$font-size-21: 21px;
$font-size-22: 22px;
$font-size-23: 23px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-26: 26px;
$font-size-27: 27px;
$font-size-28: 28px;
