@media (prefers-color-scheme: light) {
  :root {
    --primary: var(--primary-6);
    --secondary: var(--primary-5);
    --inverse-primary: var(--primary-1);
    --bg-color-primary: var(--color-bg-1);
    --bg-color-secondary: #faeee7;
    --text-color-primary: var(--primary);
    --bd-color-primary: var(--color-border-1);
  }
}
