.pageWrapper {
  width: 100%;
  height: var(--pagewrapper-height);
  margin: var(--pagewrapper-margin);
  background-color: var(--color-bg-1);
  border: 1px solid var(--color-border-1);
  border-radius: 4px;
  box-sizing: border-box;
}
