.content {
	background-color: $bg-color-primary;
	margin: 10px;
	border-radius: $border-radius-4;

	&_header {
		top: 0px;
		height: 50px;
		display: flex;
		padding: 10px;
		justify-content: space-between;
		align-items: center;
		background-color: $bg-color-primary;
		border-bottom: 1px solid $bd-color-primary;
		box-sizing: border-box;
		border-radius: $border-radius-4 $border-radius-4 0 0;
		z-index: 1;

		&_sticky {
			position: sticky;
		}

		&_only {
			border-bottom: none;
			border-radius: $border-radius-4;
		}

		&_title {
			font-size: $font-size-14;
		}
	}

	&_main {
		padding: 10px;
	}
}
