.content {
	background-color: $bg-color-primary;
	margin: 10px;
	border-radius: 4px;

	&_header {
		top: 0px;
		display: flex;
		padding: 10px;
		justify-content: space-between;
		align-items: center;
		background-color: $bg-color-primary;
		z-index: 2000;

		&_sticky {
			position: sticky;
		}

		&_border {
			border-bottom: 1px solid $bd-color-primary;
		}

		&_title {
			font-size: $font-size-14;
		}
	}

	&_main {
		padding: 10px;
	}
}
