.emptyWrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.image {
		height: 50%;
		display: flex;
		justify-content: center;

		> * {
			width: 100%;
			height: 100%;
		}
	}

	.title {
		font-size: 1.5rem;
		font-weight: bold;
		margin-bottom: 1rem;
	}

	.description {
		font-size: 1rem;
	}
}
