// Color
$primary: #33272a;
$secondary: var(--secondary);
$inverse-primary: var(--inverse-primary);
$bg-color-primary: var(--color-bg-1);
$bg-color-secondary: var(--color-fill-2);
$text-color-primary: var(--text-color-primary);
$bd-color-primary: var(--color-neutral-3);

// Font

// FontSize
$font-size-9: 9px;
$font-size-10: 10px;
$font-size-11: 11px;
$font-size-12: 12px;
$font-size-13: 13px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-19: 19px;
$font-size-20: 20px;
$font-size-21: 21px;
$font-size-22: 22px;
$font-size-23: 23px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-26: 26px;
$font-size-27: 27px;
$font-size-28: 28px;

// Border
$border-radius-0: 0px;
$border-radius-4: 4px;
$border-radius-8: 8px;
