.header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: $bg-color-primary;
	border-bottom: 1px solid $bd-color-primary;
	padding: 0 16px;

	.logo {
		width: 32px;
		height: 32px;
		fill: $primary;
	}

	.title {
		min-width: 210px;
		display: flex;
		align-items: center;
		font-size: $font-size-22;
		font-weight: bold;
		gap: 12px;
		color: $text-color-primary;
		font-family: "@harbor-design/title";
	}

	.meta {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: #e4e5ea80;
		padding: 6px 20px;
		height: 40px;
		box-sizing: border-box;
		border-radius: 4px;
		gap: 10px;
		cursor: pointer;

		.avatar {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			object-fit: cover;
		}

		.uinfo {
			height: 40px;
			display: flex;
			flex-direction: column;
			gap: 4px;
			box-sizing: border-box;
			justify-content: center;

			.nickName {
				color: $primary;
				line-height: 14px;
			}

			.role {
				font-size: $font-size-9;
				font-weight: bold;
				color: $primary;
				line-height: 9px;
			}
		}
	}
}
