.basicWrapper {
  width: var(--basicwrapper-width);
  height: var(--basicwrapper-height);
  margin: var(--basicwrapper-margin);
  overflow: hidden;
  background-color: var(--color-bg-1);
  border: 1px solid var(--color-border-1);
  border-radius: 4px;
  box-sizing: border-box;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-bg-1);
    height: var(--basicwrapper-header-height);
    padding: var(--basicwrapper-header-padding);
    border-bottom: 1px solid var(--color-border-1);
    position: sticky;
    top: 0;
  }

  .content {
    height: calc(100% - var(--basicwrapper-header-height));
    overflow: var(--basicwrapper-overflow);
  }
}
