.layout {
	width: 100%;
	min-height: 100%;
	background-color: $bg-color-secondary;

	&_sider {
		max-height: calc(100vh - 60px);
		overflow-y: overlay;
	}

	&_content {
		max-height: calc(100vh - 60px);
		overflow-y: overlay;
	}
}
